# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo


# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Individual Rust target directories and accessory files

Cargo.lock
bun.lock

# Rust assets
src/rs-h2md/target
src/greplacer/target
src/rs-stor/target
src/rs-log/target
src/rs-mq/target

src/mtls/mtls-proxy/target
src/mtls/mtls-proxy/certs
src/mtls/mtls-client/target
src/mtls/mtls-client/certs

# SQLite
*content.db*

# Backup
*backup/
*legacy/
*.backup

# ngrok 
*ngrok.yml

# ISOs and BIOs for js-vm
src/js-vm/src/iso/*
src/js-vm/src/bios/*

# default documents directory for webedit
src/webedit/documents

# yaygent
src/yaygent
src/yaygent/*

*/package-lock.json

# Claude
*.claude